<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">">
    <link rel="stylesheet" href="/static/styles/common.css">
    <link rel="stylesheet" href="/static/styles/nav.css">
    <link rel="stylesheet" href="/static/styles/homepage.css">
    <link rel="stylesheet" href="/static/styles/footer.css">
    <link rel="stylesheet" href="/static/styles/media-queries.css">


</head>
<body>
    <div class="navigation-wrapper">
       
       
        <div class="left-column">
            <div class="icon">
                <i class="fas fa-phone-volume"></i>
            </div>
            
            <div class="contact-hours-wrapper">
                <div class="phone">
                    555-555-5555
                </div>
           
                <div class="hours">
                    10AM-midnight
                </div>
            </div>
        </div>
          
        <!-- link wrapper -->
            <div class="center-column">   
                    <div class="banner-image">
                            <img src="/static/images/logos/decamp-fantastic-fries-logo-white.png" alt="Logo">
                </div>
                
                
                <div class="links-wrapper">
                    <div class="nav-link">
                        <a href="/">Home</a>
                    </div>  
                        
                    <div class="nav-link">   
                        <a href="/About">About</a>
                    </div>

                    <div class="nav-link">
                        <a href="/Menu">Menu</a>
                    </div>

                    <div class="nav-link">
                        <a href="/Contact">Contact</a>
                    </div>
                 </div>
            </div>
        
        <div class="right-column">
            <div class="address-wrapper">
                    <a href="contact.html">
                    123 any street<br>
                    scottsdale Az 85251
                </a>
            </div>
    
            <div class="contact-icon">
                <a href="contact.html">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
        </div>
       
     </div>
    
     <div class="hero-section">
        <div class="top-heading">
                <h1>One Mandolorian </h1>
        </div>
        
        <div class="bottom-heading">
            <h3>Stands Alone</h3>
        </div>
     </div>
    
    <div class="features-section">
        <div class="columns-wrapper">
            <div class="column">
                    <i class="fab fa-sith"></i>
               
                 <p>He Fights!</p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                    <i class="fas fa-jedi"></i>
                   
                     <p>He Flies!</p>
    
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

                <div class="column">
                        <i class="fab fa-mandalorian"></i>
                       
                         <p>He's Bad!</p>
        
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
         </div>
    </div>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2820.6442269201816!2d168.89059461565262!3d-45.011846186663085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa9d5212fd8a58e15%3A0xae21de93a35deb5e!2sPillars+of+the+Kings+(LotR)!5e0!3m2!1sen!2sus!4v1539015278200" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


    <div class="footer">
        <div class="logo-footer">
            <img src="/static/images/logos/decamp-fantastic-fries-logo-white.png" alt="Logo">
        </div>

        <div class="footer-phone-hours">
            <span class="phone">
                555 555 5555
            </span>

            <span class="hours">
                10 am - midnight
            </span>
        </div>

        <div class="links-wrapper">
            <div class="nav-link">
                <a href="/">Home</a>
            </div>

            <div class="nav-link">
                <a href="/About">About</a>
            </div>
            
            <div class="nav-link">
                <a href="/Menu">Menu</a>
            </div>

            <div class="nav-link">
                <a href="/Contact">Contact</a>
            </div>
        </div>

        <div class="social-media-icons-wrapper">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>

        <div class="copyright-wrapper">
            &copy; 2018 DevCamp &#124; All rights reserved
        </div>
    </div>



</body>
</html>
